<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
    <h2>{{id}}</h2>
    <div class="list-group">
        <a (click)="nav($event, 'development')" class="list-group-item">Development</a>
        <a href="#" (click)="nav($event, 'it-software')" class="list-group-item">IT &
            Software</a>
        <a href="#" (click)="nav($event, 'office')" class="list-group-item">Office
            Productivity</a>
        <a href="#" (click)="nav($event, 'photo')" class="list-group-item">Photography</a>
        <a href="#" (click)="nav($event, 'health')" class="list-group-item">Health and
            Fitness</a>
        <a href="#" (click)="nav($event, 'music')" class="list-group-item">Music</a>
    </div>
</div>
